@media screen and (max-width: 93.75em) {
    html {
        font-size: 50%; 
    }

    .hr-section {
        background-color: #f5cba7; 
    }

    .grid--5-cols {
        grid-template-columns: repeat(2, 1fr); 
    }

    .content-img {
        width: 100%; 
        height: 40rem; 
    }
    
}

@media screen and (max-width: 39.3em) {
    
    .header {
        height: 9.6rem; 
        flex-direction: row; 
        align-items: center; 
        padding-bottom: 1.6rem; 
        background-color: rgba(255, 255, 255, 0.8);
    }

    h1{
        padding-top: 9.6rem;
    }

    .logo {
        margin-bottom: 1.6rem; 
    }

    .main-nav {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.5s;
        background-color: rgb(255, 255 , 255, 0.9);

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .open .icon-mobile-nav[name="close-outline"]{
        display: block;
    }

    .open .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }

    .main-nav-list {
        flex-direction: column; 
        gap: 4.8rem; 
        text-align: center; 

    }

    .main-nav-link:link,
    .main-nav-link:visited{
        font-size: 3rem;
    }

    .btn-mobile-nav {
        display: block;
    }

    .main-nav-link {
        font-size: 2rem; 
    }


    .main-nav-link.nav-cta {
        margin-top: 1.6rem; 
    }

    .hr-section {
        background-color: #f0b27a;
        padding: 3.2rem; 
    }

    .hr{
        display: block;
    }

    .hr-text-box {
        text-align: center; 
    }

    .heading-primary {
        font-size: 4rem;
        margin-bottom: 2.4rem; 
    }

    .hr-description {
        font-size: 1.8rem; 
        margin-bottom: 3.2rem; 
    }

    .grid--5-cols {
        grid-template-columns: repeat(1, 1fr); 
        gap: 2.4rem;
    }

    .content-section div div p {
        margin-bottom: 1.6rem;
    }

    .btn--content {
        position: relative; 
        bottom: auto;
        left: 0; 
        margin-top: 1.6rem; 
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem; 
    }

    .gallery-img img {
        height: 30rem; 
        width: 100%; 
    }

    .footer {
        padding: 6.4rem 0; 
    }    
}